.main-page__articles{
  background-color: #e8ebf1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
.main-page__articles-content{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 15px 50px;
}
.main-page__articles-column{
  max-width: 400px;
  width: 25%;
}
// Article preview
.article-preview{
  max-width: 400px;
  width: 100%;
  padding: 15px;
  transition: all .2s ease;
}
.article-preview__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.article-preview__logo{
  flex-shrink: 0;
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10%;
  border-radius: 50%;
  background: #2aacc8;
}
.article-preview__title{
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  transition: all .2s ease;
}
.article-preview__body{
  margin-bottom: 30px;
  p{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #363636;
  }
}
.article-preview__footer{

}
.article-preview__link{
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #2aacc8;
  text-decoration: none;
  &:hover,&:focus{
    text-decoration: underline;
  }
  img{
    width: 5px;
    height: 7px;
    margin-right: 5px;
  }
}

// Article preview icons
.art-icon{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-fullscreen {
  width: 21px; height: 17px;
  background: url('./../images/article_icon_sprites.png') -10px -54px;
}
.bg-list {
  width: 16px; height: 16px;
  background: url('./../images/article_icon_sprites.png') -51px -54px;
}
.bg-pencil {
  width: 21px; height: 24px;
  background: url('./../images/article_icon_sprites.png') -56px -10px;
}
.bg-plane {
  width: 26px; height: 24px;
  background: url('./../images/article_icon_sprites.png') -10px -10px;
}

// Animated article previews
.prevArt-enter{
  opacity: 0.01;
  transition: opacity 2s ease, transform 2s ease;
}
.prevArt-enter.prevArt-enter-active{
  opacity: 1;
}
.prevArt-enter:nth-child(1) {
  transform:  translateX(-50%);
}
.prevArt-enter.prevArt-enter-active:nth-child(1) {
  transform:  translateX(0%);
}
.prevArt-enter:nth-child(2) {
  transform:  translateY(50%);
}
.prevArt-enter.prevArt-enter-active:nth-child(2) {
  transform:  translateY(0%);
}
.prevArt-enter:nth-child(3) {
  transform:  translateY(-50%);
}
.prevArt-enter.prevArt-enter-active:nth-child(3) {
  transform:  translateY(0%);
}
.prevArt-enter:nth-child(4) {
  transform:  translateX(50%);
}
.prevArt-enter.prevArt-enter-active:nth-child(4) {
  transform:  translateX(0%);
}
// END Animated article previews


@media screen and (max-width: 1200px){
 .article-preview__title{
   font-size: 13px;
 }
}

@media screen and (max-width: 992px){
  .main-page__articles-content{
    flex-wrap: wrap;
  }
  .main-page__articles-column{
    width: 50%;
  }
}

@media screen and (max-width: 600px){
  .main-page__articles-column{
    width: 100%;
    max-width: 100%;
  }
}