@import "~slick-carousel/slick/slick.css";
*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  //font-size: 14px;
}
#root{
  height: 100%;
}
.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-content{
  flex: 1;
}
.container{
  width: 74.4%;
  margin: 0 auto;
}
.logo{

}

.sprite-icon{
  width: 53px; height: 51px;
}
.bg-share {
  background: url('./../images/sprites.png') -10px -10px;
}
.bg-skype {
  background: url('./../images/sprites.png') -83px -10px;
}
.bg-linkedin {
  background: url('./../images/sprites.png') -10px -81px;
}
.bg-pinterest {
  background: url('./../images/sprites.png') -83px -81px;
}
.bg-dribbble {
  background: url('./../images/sprites.png') -156px -10px;
}
.bg-facebook {
  background: url('./../images/sprites.png') -156px -81px;
}